@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-wrapper header-wrapper-home">
    <!-- ******HEADER****** -->
    <header id="header" class="header navbar-fixed-top">
        <div class="container">
            <h1 class="logo">
                <a href="index.html"><span class="highlight">Dev</span>Studio</a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="/">Zorb</a></li>
                        <li class="nav-item">@Html.ActionLink("Sobre", "Sobre")</li>
                        <li class="nav-item last">@Html.ActionLink("Contato", "Contato")</li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div><!--//container-->
    </header><!--//header-->
    <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1">
                    <video autoplay loop preload="metadata">
                        <source src="~/assets/videos/Aloha-mundo.mp4">
                        <source src="~/assets/videos/Aloha-mundo.ogg">
                        <source src="~/assets/videos/Aloha-mundo.webm">
                    </video>
                </li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->
    <section id="home-promo" class="home-promo section">
        <div class="container text-center">
            <h2 class="title">
                <span class="upper">Software de</span>
                <span class="middle">Qualidade</span>
                <span class="bottom">Para todos os tipos de negócio</span>
            </h2>
            <button class="btn btn-cta btn-cta-primary" type="button" data-toggle="modal" data-target="#modal-contact" data-backdrop="static">Fale Conosco</button>
        </div><!--//container-->
    </section><!--//promo-->
</div><!--//header-wrapper-->

<!-- ******Why Section****** -->
<section id="who" class="who section">
    <div class="container text-center">
        <h2 class="title text-center">Quem somos</h2>
        <p class="intro text-center">We are a small team of web developers and designers based in XYZ. We are specialised in JavaScript, AngularJS and Python. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <div class="row benefits text-center">
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
                    <h3 class="sub-title">Habilidades do nosso time</h3>
                    <div class="desc">
                        <p>Do desenvolvimento de simples Web Sites à complexos sitemas, de consultoria à atualização de sistemas, nossos engenheiros estão qualificados e prontificados em oferecer as melhores soluções.</p>
                    </div>
                </div>
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12 sm-break">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe01c;"></div>
                    <h3 class="sub-title">Abordagem Ágil</h3>
                    <div class="desc">
                        <p>Tell your potential client why they should choose your service and how you are different from your competitors.</p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe031;"></div>
                    <h3 class="sub-title">Produtos com Qualidade</h3>
                    <div class="desc">
                        <p>Tell your potential client why they should choose your service and how you are different from your competitors.</p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                    <h3 class="sub-title">Preço Justo</h3>
                    <div class="desc">
                        <p>Tell your potential client why they should choose your service and how you are different from your competitors.</p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
        <a class="btn btn-cta btn-cta-secondary" href="about.html">Mais sobre nós</a>
    </div><!--//container-->
</section><!--//who-->

